<div id='expn-cont'>
  <div id='header'>
    <div id='logo-cont'>
      <div id='logo-graphic'>
      </div>
      <div id='logo-text'>
        Lenses
      </div>
    </div>
    <div id='expn-text'>
      Lenses enables the rapid creation of sophisticated data visualizations and interactive graphics.
      No knowledge of programming is required to get started but the toolkit can be extended and completely customized by developers using HTML and Javascript.
    </div>
    <div id='expn-button-cont'>
      <div class='expn-buttons'>
        <div class='expn-icon' id='exp-gear'>
        </div>
        <a href="#" class='expn-link'>How does it work?</a>
      </div>
      <div class='expn-buttons'>
        <div class='expn-icon' id='exp-info'>
        </div>
        <a href="#" class='expn-link'>Why did we build this?</a>
      </div>
      <div class='expn-buttons'>
        <div class='expn-icon' id='exp-puzzle'>
        </div>
        <a href="#" class='expn-link'>How can I contribute?</a>
      </div>
    </div>
    <div id='create-lens-cont'>
      <div id='create-lens-text'>
        Create your own lens right now!
      </div>
      <div id='create-lens-button'>
        <div id='create-lens-add-sym'>
          +
        </div>
        <div id='create-lens-button-text'>
          Create a lens
        </div>
      </div>
    </div>
  </div>
</div>
